@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Space Grotesk/SpaceGrotesk-Light.woff2?v=2.0.0')
    format('woff2');
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Space Grotesk/SpaceGrotesk-Regular.woff2?v=2.0.0')
    format('woff2');
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Space Grotesk/SpaceGrotesk-Medium.woff2?v=2.0.0')
    format('woff2');
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Space Grotesk/SpaceGrotesk-Bold.woff2?v=2.0.0')
    format('woff2');
}
